.enter-car-view {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 var(--lumo-space-l);
}
.enter-car-view .button-layout {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-m);
}

.backColorBlue{
  background-color: #c0faef;
}
.vaadin-login-native-form-wrapper{
  background-color: #c0faef !important;
}
.vaadin-login-form-wrapper{
  background-color: #c0faef !important;
}